.ProgressBar {
    width: 50px;
    margin: 10px auto;
    height: 15px;
    background-color: aquamarine;
}

.progress-text {
    height: 100px;
    width: 100px;
    padding: 0 5px !important;
    position: relative;
    top: -4.5px;
}