.Node {
    box-sizing: border-box;
    height: 170px;
    width: 250px;
    /*background-color: #839496;*/
    background-color: rgba(131,147,150, 0.4);
    margin: 10px;  
    border-radius: 5px;
}

.Node:hover {
    transform: scale(1.005);
    box-shadow: 0 0 5px rgba(131,147,150, 1);
}

.Node h3 {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.GuessContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sub-GuessContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ComputerImageContainer {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.ComputerImageContainer img {
    margin: 0 auto;
}



#Guess {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

#Guess span {
    color: gainsboro;
    font-size: 26px;
}

#Mining, #AddingNewBlock {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}

#AddingNewBlock {
    color: gainsboro;
}

