.NodeContainer {
    margin: 0 auto;
    width: 850px;
    height: 570px;
    background-color: #093642;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}