.BlockchainContainer {
    height: 50px;
    width: 800px;
    display: flex;
    align-content: right;
    background-color: #093642;
    margin: 0px auto 10px auto;
    overflow-x: visible;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
}

.block-row {
    display: flex;
    margin: 0 0px;
}

.arrow {
    color: #258BD1;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 0 0 0;
    margin: 0 10px;
    align-content: center;
}