.Transaction {
    width: 95%;
    height: 20px;
    background-color: #002b36;
    margin: 5px auto;
    color: gainsboro;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: auto 5px;
    border-radius: 5px;
}

.Transaction p {
    margin: 0 5px;
}