.Layout {
    background-color: #002b36;
}

#title {
    position: absolute;
    left:20px;
    top: 20px;
}

.Layout h4 {
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.MidContainer {
    display: flex;
    background-color: #093642;
    width: 1070px;
    margin: 0 auto;
}

.StartButtonContainer {
    transform: translateX(50%);
    margin-right: 210px;
}

.StartButton, .StopButton {
    margin: 10px 5px 0 5px;
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.StartButton:hover, .StopButton:hover {
    background-color: #6610f2;
    transform: scale(1.1);
    cursor: pointer;
}